# Gradle
.gradle/
build/
local.properties

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# 产物
*.apk
*.aab
*.ap_
*.dex

# 签名
*.jks
*.keystore
!debug.keystore

# 系统
.DS_Store
Thumbs.db
